.header {
  display: flex;               /* aktivira horizontalni layout */
  justify-content: space-between;
  background-color: var(--color-bg-card);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  align-items: center;

  position: sticky;
  top: 10px;              /* malo prostora od vrha */
  z-index: 1000; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);

  padding: 12px 24px;
  max-width: 1455px;  
  width: 100%;         
  margin: 0 auto;
  box-sizing: border-box;
}

.menu {
    margin: 10px;
    display: flex;
    gap: 25px;
}

.menu a {
  font-family: var(--font-heading);
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--color-text-primary);
  text-decoration: none;
  transition: color 0.3s, transform 0.2s;
}

.menu a:hover {
  color: var(--color-primary);
  transform: translateY(-2px);
}