<div class="header">
    <img src="assets/logo.png" alt="Logo">

    <div class="menu">
        <a href="#">Početna</a>
        <a href="#">Registracija</a>
        <a href="#">Kreiranje Objave</a>
        <a href="#">Watch Party</a>
        <a href="#">Odjava</a>
    </div>
</div>

<div class="video-grid">
  @for (video of videos; track video.id) {
    <div class="video-card">
      <img [src]="video.thumbnailPath" alt="thumbnail">
      <div class="video-info">
        <h3>{{ video.title }}</h3>
        <p>
          <span
            class="username"
            (mouseenter)="showUser(video.user)"
            (mouseleave)="hideUser()">
            {{ video.user.username }}
          </span>

          @if (hoverUser === video.user) {
            <div class="user-popover">
              <p>Ime i prezime: {{ video.user.firstName }} {{ video.user.lastName }}</p>
              <p>E-mail: {{ video.user.email }}</p>
              <p>Adresa: {{ video.user.address }}</p>
            </div>
          }
        </p>

        <p class="views">{{ video.views }} pregleda</p>
      </div>
    </div>
  }
</div>
