<div class="video-grid">
  @for (video of videos; track video.id) {
    <div class="video-card">
      <img [src]="video.thumbnailPath" alt="thumbnail">
      <div class="video-info">
        <h3>{{ video.title }}</h3>
        <p>
          <span
            class="username"
            title="Pogledaj profil ovog korisnika" 
            (click)="goToUser(video.user.username)">
            {{ video.user.username }}
          </span>
        </p>

        <p class="views">{{ video.views }} pregleda</p>
      </div>
    </div>
  }
</div>
