@if (loading) {
  <div>Učitava se...</div>
}

@if (!loading && video) {
  <div class="video-container">
    <video [src]="video.videoPath" controls autoplay></video>
  </div>

  <div class="video-info">
    <h2>{{ video.title }}</h2>
    <div class="video-meta">
        <span class="username" (click)="goToUser(video.user.username)">
        @{{ video.user.username }}
        </span>

        <span class="likes">
            <img src="assets/like.png" alt="like">
        </span>
    </div>
    <p>{{ video.views }} pregleda | {{ video.createdAt | date:'d MMM y' }}</p>
    <p>{{ video.description }}</p>
  </div>

  @if (!commentsLoading && comments.length > 0) {
    <div class="comments-section">
        @for (comment of comments; track comment.createdAt) {
        <div class="comment-box">
            <div class="comment-header">
            <span class="comment-username" (click)="goToUser(comment.user.username)">
                @{{ comment.user.username }}
            </span>
            <span class="comment-date">{{ comment.createdAt | date:'d MMM y' }}</span>
            </div>
            <p class="comment-text">{{ comment.text }}</p>
        </div>
        }
    </div>
  }

  <div class="add-comment-box">
    <textarea placeholder="Dodaj komentar..." rows="2"></textarea>
    <button>Postavi</button>
  </div>
}
